.feed__container {
    display: flex;
    flex-flow: column wrap;
    min-width: 60vw;
}

.create-post__container  {
    width: 60vw;
    margin-top: 36px;
}

@media only screen and (max-width: 600px) {
    .create-post__container {
        width: 95vw;
        margin-top: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .create-post__container {
        width: 85vw;
        margin-top: 16px;
    }
}